<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozidev.kino" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="com.mozidev.kino.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.mozidev.kino.permission.C2D_MESSAGE" />


    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BigShotActivity"
            />
        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_profile"/>
        <activity
            android:name=".activity.CompanyActivity"
            android:screenOrientation="portrait"
            android:label="CompanyActivity"/>
        <activity
            android:name=".activity.TenderActivity"
            android:screenOrientation="portrait"
            android:label="CompanyActivity"/>
        <activity
            android:name=".activity.ShareActivity"
            android:screenOrientation="portrait"
            android:label="CompanyActivity"/>
        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait"
            android:label="LoginActivity"/>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".notifications.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mozidev.kino.app" />
            </intent-filter>
        </receiver>
        <service android:name=".notifications.GcmIntentService" />
        <service android:name=".DownloadShareDataService"/>
    </application>

</manifest>
